body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.header-div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

h1 {
  color: #190c8d;
  margin-right: 20px;
}

nav {
  width: 100vw;
  margin-bottom: 50px;
}

.nav-item {
  margin-right: 15px;
}

.recipe {
  background-color: black;
}
