<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Share</title>
    <style>
      body {
        padding: 20px;
      }
      .header-div {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      h1 {
        color: #190c8d;
      }

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="container">
      <a style="text-decoration: none" href="{% url 'home' %}">
        <h1>Recipe Share</h1>
      </a>
      {% if user.is_authenticated %}
      <div class="header-div">
        <a href="{% url 'log-out' %}">
          <button class="btn btn-danger">Log out</button>
        </a>
        <a href="">
          <h3>{{ user.username }}</h3>
        </a>
      </div>
      {% else %}
      <div class="header-div">
        <a href="{% url 'sign-up' %}">
          <button class="btn btn-primary">Sign up</button>
        </a>
        <a href="{% url 'log-in' %}">
          <button class="btn btn-primary">Log in</button>
        </a>
      </div>
      {% endif %}
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
