<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Share</title>
    <style>
      button {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Recipe Share</h1>
      <a href="{% url 'sign-up' %}">
        <button>Sign up</button>
      </a>
      <a href="">
        <button>Log in</button>
      </a>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
